<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Thought Stream </span> <span>Blog</span></h1>
      <p>
        A blog is a platform where individuals or groups share their thoughts, ideas, and experiences through written content. Blogs can cover a wide range of topics, including personal stories, travel, food, technology, fashion, and more.
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 6391820086        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:yrony4695@gmail.com">
            yrony4695@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>